
/* npm fonts
-------------------------------------------------- */

@import "~font-awesome/scss/font-awesome";


/* custom fonts
-------------------------------------------------- */

$SolPro: (
    ("SolPro-Light", 'normal', '200'),
    ("SolPro-Regular", 'normal', 'normal'),
    ("SolPro-Bold", 'normal', 'bold'),
    ("SolPro-Black", 'normal', '900')
);

@each $s in $SolPro {
  @font-face {
    font-family: 'solpro';
    src: url('../fonts/#{nth($s,1)}.ttf') format('truetype');
    font-style: #{nth($s,2)};
    font-weight: #{nth($s,3)};
  }
}


/* custom css
-------------------------------------------------- */

H1 {
  font-family: "solpro";
  font-weight: normal;
}

